<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %magenta[%-36X{correlationId}] %highlight(%-5level) %gray([%thread])  %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.jongsoft.finance.importer.csv" level="trace" />
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
