datasources:
  default:
    url: jdbc:h2:mem:FinTrack;DB_CLOSE_DELAY=-1;MODE=MariaDB
    driverClassName: org.h2.Driver
    username: ${DATABASE_USER:fintrack}
    password: ${DATABASE_PASSWORD:fintrack}
    dialect: mysql
    migration-locations: ["classpath:db/camunda/h2", "classpath:db/migration", "classpath:db/sample"]
