micronaut:
  application:
    name: pledger.io
    security:
      secret: MyLittleSecret
      encrypt: true
    storage:
      location: ${java.io.tmpdir}
  security:
    authentication: bearer
    token:
      jwt:
        enabled: true
        bearer:
          enabled: true
  router:
    static-resources:
      favicon:
        paths: classpath:/assets/favicon.ico
        mapping: /favicon.ico
      docs:
        paths: classpath:/docs
        mapping: /openapi/**
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /spec/**
      webapp:
        paths: classpath:/public
        mapping: /ui/**
  server:
    cors:
      enabled: true
    multipart:
      enabled: true
      location: "${micronaut.application.storage.location}/temp"
      max-file-size: 10MB
  executors:
    io:
      type: fixed
      n-threads: 75

endpoints:
  health:
    enabled: true
    details-visible: anonymous

jackson:
  serialization-inclusion: non_absent

jpa:
  default:
    packages-to-scan:
      - 'com.jongsoft.finance.jpa'
    properties:
      jdbc:
        time_zone: UTC
      hibernate:
        hbm2ddl:
          auto: none
        physical_naming_strategy: 'com.jongsoft.finance.jpa.DefaultNamingStrategy'
        show_sql: false
