@import "../../shared/constants";

#profile-main {
  display: inline-block;

  margin-left: 10px;
  margin-right: 370px;
}

#profile-actions {
  position: absolute;
  right: 10px;
  width: 350px;

  button {
    display: block;
  }
}

@media (max-width: $phone-landscape-max-width) {

  #profile-main {
    display: inherit;
    margin-right: 10px;
  }

  #profile-actions {
    position: relative;
    display: block;
    width: 100%;

    margin-left: 10px;
  }

}
