<div class="row d-none d-md-flex" *ngIf="dateRange && filter.show">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body pb-0">
        <div appLocalization="page.transactions.expense.category" class="text-center"></div>
        <app-graph-display [endPoint]="'transactions/graphs/category/expenses/' + dateRange.from + '/' + dateRange.until"></app-graph-display>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body pb-0">
        <div appLocalization="page.transactions.expense.budget" class="text-center"></div>
        <app-graph-display [endPoint]="'transactions/graphs/budget/' + dateRange.from + '/' + dateRange.until"></app-graph-display>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body pb-0">
        <div appLocalization="page.transactions.income.category" class="text-center"></div>
        <app-graph-display [endPoint]="'transactions/graphs/category/income/' + dateRange.from + '/' + dateRange.until"></app-graph-display>
      </div>
    </div>
  </div>
</div>

<div class="card print-break-before">
  <div class="card-header">
    <span appLocalization="page.title.transactions.overview"></span>

    <div ngbDropdown class="d-inline">
      <button class="btn btn-sm btn-primary float-right d-print-none" role="button" id="dropdownNew" ngbDropdownToggle>
        <span appLocalization="page.transaction.add" class="d-none d-md-inline"></span>
      </button>

      <div ngbDropdownMenu aria-labelledby="dropdownNew">
        <button ngbDropdownItem class="text-success" (click)="openCreateTransaction('debit')">
          <em class="fa fa-long-arrow-alt-right mr-2"></em>
          <span appLocalization="page.transactions.debit.add"></span>
        </button>
        <button ngbDropdownItem class="text-danger" (click)="openCreateTransaction('credit')">
          <em class="fa fa-long-arrow-alt-left mr-2"></em>
          <span appLocalization="page.transactions.credit.add"></span>
        </button>
        <button ngbDropdownItem class="text-info" (click)="openCreateTransaction('transfer')">
          <em class="fa fa-exchange-alt mr-2"></em>
          <span appLocalization="page.transactions.transfer.add"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">

    <form autocomplete="off" class="filters container" *ngIf="filter.show">
      <fieldset ngForm>
        <legend class="pl-2" appLocalization="page.transactions.filter">Filter</legend>
        <div class="form-row">
          <div class="col">
              <label for="account" appLocalization="page.transactions.filter.account"></label>
              <input type="text" name="account" id="account" class="form-control" [(ngModel)]="filter.account" (change)="pageChanged()">
          </div>
          <div class="col">
            <label for="description" appLocalization="page.transaction.filter.description"></label>
            <input type="text" name="description" id="description" class="form-control" [(ngModel)]="filter.description" (change)="pageChanged()">
          </div>
          <div class="col">
            <label for="currency" appLocalization="page.transaction.filter.currency"></label>
            <app-currency-selector [(value)]="filter.currency" (valueChange)="pageChanged()" optional="true"></app-currency-selector>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label for="category" appLocalization="page.transactions.filter.category"></label>
            <app-autocomplete name="category"
                              [(model)]="filter.category" [type]="EntityType.CATEGORY" (change)="pageChanged()"></app-autocomplete>
          </div>
          <div class="col">
            <label for="budget" appLocalization="page.transactions.filter.budget"></label>
            <app-autocomplete name="budget"
                              [(model)]="filter.budget" [type]="EntityType.BUDGET" (change)="pageChanged()"></app-autocomplete>
          </div>
          <div class="col invisible">
            <label for="tag" appLocalization="page.transactions.filter.tag"></label>
            <input type="text" name="tag" id="tag">
          </div>
        </div>
        <div class="form-row">
          <div class="custom-control custom-switch mr-4">
            <input type="checkbox" class="custom-control-input" id="expensesOnly" name="expensesOnly"
                   [(ngModel)]="filter.onlyExpense"
                   (change)="checkboxChange('onlyExpense'); pageChanged()">
            <label class="custom-control-label" for="expensesOnly" appLocalization="page.transaction.filter.expense"></label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="incomeOnly" name="incomeOnly"
                   [(ngModel)]="filter.onlyIncome"
                   (change)="checkboxChange('onlyIncome'); pageChanged()">
            <label class="custom-control-label" for="incomeOnly" appLocalization="page.transaction.filter.income"></label>
          </div>
        </div>
      </fieldset>
    </form>

    <table class="table table-sm table-responsive-sm table-hover mb-4 mt-4">
      <thead>
      <tr>
        <th>
          <a *ngIf="hasSelection"
             (click)="onMultiEditClick()"
             href="javascript:void 0" appLocalization="common.action.edit" location="title"><i class="fas fa-edit"></i></a>
        </th>
        <th appLocalization="Transaction.date" class="text-center"></th>
        <th appLocalization="Transaction.source"></th>
        <th appLocalization="Transaction.to"></th>
        <th appLocalization="Transaction.amount" width="75"></th>
        <th width="15"></th>
      </tr>
      </thead>
      <tbody *ngIf="!loading && currentPage.content.length > 0">
      <tr *ngFor="let transaction of currentPage.content">
        <td class="pl-4">
          <input type="checkbox" class="form-check-input"
                 [checked]="isSelected(transaction.id)"
                 (change)="onTransactionSelect(transaction.id)"/>
          <a [routerLink]="'/accounts/' + transaction.source.frontEndType + '/' + transaction.source.id + '/transaction/' + transaction.id + '/edit/'"
             *ngIf="!transaction.source.isSystem() && !transaction.destination.isSystem()"
             class="text-primary"
             appLocalization="common.action.edit" location="title"><i class="fas fa-edit"></i></a>
          <a href="javascript:void 0"
             data-confirm-ok-class="btn-danger"
             appLocalization="common.action.delete"
             location="title"
             (click)="onTransactionDeleteClick(transaction)"
             class="text-danger" data-toggle="tooltip" data-placement="bottom" ><i class="fas fa-trash-alt"></i></a>
        </td>
        <td class="align-middle text-center">
          <div class="small">{{ transaction.dates.transaction | customDate }}</div>
          <i [class]="'fas text-muted fa-' + transaction.type.class"></i>
        </td>
        <td>
          <a *ngIf="transaction.source.isOwn()"
             [routerLink]="'/accounts/' + transaction.source.frontEndType + '/' + transaction.source.id + '/transactions/'">{{ transaction.source.name }}</a>
          <a *ngIf="!transaction.source.isOwn() && transaction.destination.isOwn()"
             [routerLink]="'/accounts/' + transaction.destination.frontEndType + '/' + transaction.destination.id + '/transactions/'">{{ transaction.destination.name }}</a>
        </td>
        <td>
          <a *ngIf="!transaction.source.isOwn()"
             [routerLink]="'/accounts/' + transaction.source.frontEndType + '/' + transaction.source.id + '/transactions/'">{{ transaction.source.name }}</a>
          <a *ngIf="transaction.source.isOwn()"
             [routerLink]="'/accounts/' + transaction.destination.frontEndType + '/' + transaction.destination.id + '/transactions/'">{{ transaction.destination.name }}</a>

          <div *ngIf="transaction.metadata.tags" class="tags">
            <span *ngFor="let tag of transaction.metadata.tags" class="badge badge-info badge-pill">{{ tag }}</span>
          </div>

          <div class="small text-muted" *ngIf="transaction.metadata.category">
            <label appLocalization="Transaction.category" class="d-none d-sm-inline"></label> {{ transaction.metadata.category }}
          </div>
          <div class="small text-muted" *ngIf="transaction.metadata.budget">
            <label appLocalization="Transaction.budget" class="d-none d-sm-inline"></label> {{ transaction.metadata.budget }}
          </div>
          <div class="small text-muted" *ngIf="transaction.metadata.contract">
            <label appLocalization="Transaction.contract" class="d-none d-sm-inline"></label> {{ transaction.metadata.contract }}
          </div>
          <div class="small text-muted mt-1 d-none d-sm-block">{{ transaction.description }}</div>
        </td>
        <td class="small align-middle" [appBalance]="computeAmount(transaction)" [currency]="transaction.currency"></td>
        <td></td>
      </tr>
      </tbody>
      <tbody *ngIf="!loading && currentPage.content.length == 0">
      <tr>
        <td colspan="6" class="text-center text-muted text-lowercase" appLocalization="common.overview.noresults"></td>
      </tr>
      </tbody>
      <tbody *ngIf="loading">
      <tr>
        <td colspan="6"><app-spinner></app-spinner></td>
      </tr>
      </tbody>
    </table>

    <ngb-pagination
      size="sm"
      class="d-flex justify-content-center"
      *ngIf="!loading && currentPage.content.length > 0"
      [page]="pager.page"
      [pageSize]="pager.pageSize"
      [collectionSize]="currentPage.info.records"
      [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
      (pageChange)="pagerUpdated($event)"></ngb-pagination>
  </div>
</div>
