<div class="app-header navbar" [class.d-none]="!authorizationService.authorized || authorizationService.token.requiresMFA">
  <a class="navbar-brand" href="#">
    <img class="navbar-brand-full pr-1" src="assets/logo.jpg" /> FinTrack
  </a>
  <button class="navbar-toggler sidebar-toggler d-md-down-none d-lg-none" type="button" (click)="sidebarService.toggle()">
    <span class="fa fa-bars"></span>
  </button>

  <div class="navbar-text m-auto text-dark d-none d-sm-block" [appLocalization]="titleTextKey"></div>

  <ul class="nav navbar-expand d-none d-sm-inline-flex">
    <li class="nav-item" ngbDropdown>
      <a href="javascript:void(0)" class="nav-link text-dark" id="language-selector" ngbDropdownToggle role="button">
        <span appFlag style="line-height: 35px"></span>
      </a>
      <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="language-selector">
        <a href="javascript:void 0" appLanguageSelect="nl" ngbDropdownItem><i class="flag-icon flag-icon-nl"></i> <span appLocalization="common.language.nl">Nederlands</span></a>
        <a href="javascript:void 0" appLanguageSelect="en" ngbDropdownItem><i class="flag-icon flag-icon-en"></i> <span appLocalization="common.language.en">English</span></a>
        <a href="javascript:void 0" appLanguageSelect="de" ngbDropdownItem><i class="flag-icon flag-icon-de"></i> <span appLocalization="common.language.de">Deutsch</span></a>
      </div>
    </li>
    <li class="nav-item mr-3" ngbDropdown>
      <a class="nav-link text-dark" ngbDropdownToggle id="account-dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
        <img appProfilePicture />
      </a>
      <div ngbDropdownMenu class="dropdown-menu-right profile-dropdown" aria-labelledby="account-dropdown">
        <a ngbDropdownItem routerLink="/user/profile"><i class="fas fa-user-secret"></i> <span class="ml-1" appLocalization="page.header.user.details"></span></a>
        <a ngbDropdownItem href="javascript:void 0" (click)="openPasswordDialog()"><i class="fas fa-unlock-alt"></i> <span class="ml-1" appLocalization="page.header.user.password"></span></a>
        <a href="javascript:void 0" (click)="authorizationService.logout()" ngbDropdownItem><i class="fas fa-sign-out-alt"></i> <span class="ml-1" appLocalization="page.header.user.logout">Logout</span></a>
      </div>
    </li>
  </ul>
</div>
