<div class="card">
  <div class="card-header">
    <span appLocalization="page.header.application.settings"></span>
  </div>
  <div class="card-body">
    <table class="table table-hover table-responsive-sm table-sm mt-4">
      <thead>
      <tr>
        <th></th>
        <th appLocalization="Setting.name"></th>
        <th appLocalization="Setting.type"></th>
        <th appLocalization="Setting.currentValue"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let setting of settings">
        <td>
          <a href="javascript:void 0"
             class="text-primary"
             (click)="edit(setting)"
             appLocalization="common.action.edit" location="title"><i class="fas fa-edit"></i></a>
        </td>
        <td>{{ setting.name }}</td>
        <td>{{ setting.type }}</td>
        <td>{{ setting.value }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
