<div class="card">
  <div class="card-header">
    <span [appLocalization]="'page.nav.accounts.' + accountType">Creditors</span>
    <a class="btn btn-sm btn-primary float-right d-print-none"
       [routerLink]="'/accounts/' + frontEndType + '/add/'" role="button">
      <i class="fas fa-plus"></i>
      <span [appLocalization]="'page.account.' + accountType + '.add'" class="d-none d-md-inline">Add account</span>
    </a>
  </div>
  <div class="card-body">
    <table class="table table-hover table-responsive-sm table-sm mt-4">
      <thead>
      <tr>
        <th width="50" class="text-center">
          <a href="javascript: void 0" class="small"
             [class.text-success]="filterName.length > 0"
             (click)="filterVisible = !filterVisible"><em class="fa fa-filter"></em></a>
        </th>
        <th>
          <span appLocalization="Account.name"></span>
        </th>
        <th appLocalization="common.account.saldo" width="150">Current value</th>
      </tr>
      <tr *ngIf="filterVisible">
        <th></th>
        <th>
          <input type="text" class="form-control form-control-sm" name="name" id="name"
                 autocomplete="off"
                 [(ngModel)]="filterName" (keyup)="filterChange();"/>
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngIf="!empty && !loading">
      <tr *ngFor="let account of currentPage.content">
        <td>
          <a [routerLink]="account.id + '/edit/'"
             class="text-primary"
             appLocalization="common.action.edit" location="title"><i class="fas fa-edit"></i></a>
          <a href="javascript:void 0"
             appLocalization="common.action.delete"
             location="title"
             (click)="confirmDelete(account)"
             class="text-danger"><i class="fas fa-trash-alt"></i></a>
        </td>
        <td>
          <a [routerLink]="'./' + account.id + '/transactions'" class="text-primary">{{ account.name }}</a>
          <span class="text-muted small ml-2">
            <span *ngIf="account.account.iban">{{ account.account.iban }}</span>
            <span *ngIf="account.account.number">{{ account.account.number }}</span>
          </span>
          <div class="text-muted small" *ngIf="account.history.lastTransaction">
            <label appLocalization="Account.lastActivity"></label>
            {{ account.history.lastTransaction | customDate }}
          </div>
          <div class="text-muted small">{{ account.description }}</div>
        </td>
        <td>
          <app-statistical-balance [account]="[account]" [currency]="account.account.currency"></app-statistical-balance>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="empty && !loading">
      <tr>
        <td colspan="3" appLocalization="common.overview.noresults"></td>
      </tr>
      </tbody>
      <tbody *ngIf="loading">
      <tr>
        <td colspan="3"><app-spinner></app-spinner></td>
      </tr>
      </tbody>
    </table>

    <ngb-pagination
      size="sm"
      class="d-flex justify-content-center"
      *ngIf="currentPage"
      [page]="pager.page"
      [pageSize]="pager.pageSize"
      [collectionSize]="currentPage.info.records"
      [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
      (pageChange)="pageChanged($event)"></ngb-pagination>
  </div>
</div>
