.btn {
  padding: 0 .75rem;
  vertical-align: top;
  border: 0;
  font-size: .875rem;
}

.month-picker {
  width: 350px;
  padding: 10px;

  .col-sm-4 {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.dropdown-menu-right {
  padding: 0;
}
