<div *ngIf="!model || processing">
  <app-spinner></app-spinner>
</div>

<div class="card" *ngIf="model && !processing">
  <div class="card-header">
    <span appLocalization="page.nav.settings.import"></span>
  </div>

  <div class="card-body wizard">
    <div class="wizard-steps">
      <span data-step="step-upload" appLocalization="page.nav.settings.import.start" class="border-bottom" style="width: 220px"></span>
      <span data-step="step-settings" appLocalization="page.settings.import.analyze.settings" class="border-bottom" style="width: 140px"></span>
      <span data-step="step-mappings" appLocalization="page.settings.import.analyze.columns" class="border-bottom" style="width: 160px"></span>
      <span data-step="step-status" appLocalization="page.nav.settings.import" class="active border-bottom" style="width: 180px"></span>
      <span data-step="step-status" appLocalization="page.settings.import.details" class="border-bottom" style="width: 180px"></span>
      <span class="border-bottom filler"></span>
    </div>

    <app-error-message></app-error-message>

    <form novalidate autocomplete="off" #batchAccounts="ngForm">
      <div class="form-group row" *ngFor="let mapping of model | slice: (currentPage -1) * pageSize : (currentPage-1) * pageSize + pageSize; let i = index">
        <label for="type" class="col-sm-2 col-md-5 col-form-label">{{ mapping.name }}</label>
        <div class="col-sm-10 col-md-7">
          <app-input-field control="BatchImport">
            <select id="type" class="form-control" [(ngModel)]="model[i + ((currentPage-1) * pageSize)].accountId"
                    [name]="'mapping_' + (i + ((currentPage-1) * pageSize))"
                    pattern="^[0-9]*$" appPatternValidator>
              <option *ngIf="config.generateAccounts" value="" appLocalization="page.settings.import.mapping.none"></option>
              <option *ngFor="let account of accounts"
                      [value]="account.id">{{ account.name }}</option>
            </select>
          </app-input-field>
        </div>
      </div>

      <ngb-pagination
        size="sm"
        class="d-flex justify-content-center mt-4"
        [(page)]="currentPage"
        [pageSize]="pageSize"
        [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
        [collectionSize]="model.length"></ngb-pagination>
    </form>
  </div>

  <div class="card-footer">
    <app-back-button></app-back-button>
    <button type="button" class="btn btn-sm btn-primary"
            [disabled]="batchAccounts.invalid"
            (click)="process()"
            appLocalization="common.action.next"></button>
  </div>
</div>
