.card {
  &:nth-child(2) {
    .card-header {
      .order-up {
        display: none;
      }
    }
  }

  &:last-child {
    .order-down {
      display: none;
    }
  }

  .card-header {
    .order-up, .order-down {
      i {
        margin-right: 0;
      }
    }
  }
}

@media print {
  .card {
    page-break-inside: avoid;
  }
}
