<div class="card">
  <div class="card-header">
    <span appLocalization="page.nav.settings.import"></span>
  </div>

  <div class="card-body wizard">
    <div class="wizard-steps">
      <span data-step="step-upload" appLocalization="page.nav.settings.import.start" class="border-bottom active" style="width: 220px"></span>
      <span data-step="step-settings" appLocalization="page.settings.import.analyze.settings" class="border-bottom" style="width: 140px"></span>
      <span data-step="step-mappings" appLocalization="page.settings.import.analyze.columns" class="border-bottom" style="width: 160px"></span>
      <span data-step="step-status" appLocalization="page.nav.settings.import" class="border-bottom" style="width: 180px"></span>
      <span data-step="step-status" appLocalization="page.settings.import.details" class="border-bottom" style="width: 180px"></span>
      <span class="border-bottom filler"></span>
    </div>

    <form novalidate autocomplete="off" enctype="multipart/form-data" #batchImport="ngForm">
      <app-error-message></app-error-message>

      <div class="form-group row">
        <label for="configType" class="col-sm-2 col-form-label" appLocalization="Import.config"></label>
        <div class="col-sm-10">
          <app-input-field control="BatchImport">
            <div>
              <select id="configType" class="form-control w-50 d-inline-block" name="configType"
                      [(ngModel)]="model.configuration"
                      required>
                <option *ngFor="let config of configs"
                        [value]="config.name"
                        [label]="config.name"></option>
              </select>
              <button type="button" class="btn btn-link d-inline-block ml-2"
                      (click)="showImportConfig()"
                      style="vertical-align: top" appLocalization="page.settings.import.config.new"></button>
            </div>
          </app-input-field>
        </div>
      </div>
      <div class="form-group row">
        <label for="importFile" class="col-sm-2 col-form-label" appLocalization="ImportConfig.content"></label>
        <div class="col-sm-10">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="importFile" name="importFile" required
                   (change)="handleFileSelect($event.target.files)">
            <label class="custom-file-label" for="importFile" appLocalization="common.file.select"></label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <app-back-button></app-back-button>
    <button type="button" class="btn btn-sm btn-primary"
            [disabled]="processing"
            (click)="process()"
            appLocalization="common.action.next"></button>
  </div>
</div>
