<div class="sidebar d-print-none" *ngIf="authorizationService.authorized && !authorizationService.token.requiresMFA">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-tachometer-alt"></i><span appLocalization="page.nav.dashboard">Dashboard</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a href="javascript: void 0" (click)="toggleReport()" class="nav-link">
          <i class="nav-icon fas fa-chart-bar"></i><span appLocalization="page.nav.reports"></span>
          <em class="fa chevron text-muted fa-chevron-left" [class.open]="displayReport"></em>
        </a>
        <ul class="sub-nav" [class.active]="displayReport">
          <li><a routerLink="/reports/income-expense" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-chart-area"></i><span appLocalization="page.reports.default.title"></span></a></li>
          <li><a routerLink="/reports/monthly-budget" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-chart-pie"></i><span appLocalization="page.reports.budget.title"></span></a></li>
          <li><a routerLink="/reports/monthly-category" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-chart-line"></i><span appLocalization="page.reports.category.title"></span></a></li>
        </ul>
      </li>

      <li class="nav-title" appLocalization="page.nav.finances"></li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/budgets" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-tasks"></i><span appLocalization="page.nav.budget.groups"></span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/contracts" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-file-signature"></i><span appLocalization="page.nav.budget.contracts"></span></a>
      </li>

      <li class="nav-title" appLocalization="page.nav.accounting"></li>
      <li class="nav-item" routerLinkActive="active">
        <a href="javascript: void 0" (click)="toggleTransactions()" class="nav-link">
          <i class="nav-icon fas fa-exchange-alt"></i><span appLocalization="page.nav.transactions"></span>
          <em class="fa chevron text-muted fa-chevron-left" [class.open]="displayTransactions"></em>
        </a>
        <ul class="sub-nav" [class.active]="displayTransactions">
          <li><a routerLink="/transactions/income-expense" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-long-arrow-alt-left"></i><span appLocalization="page.nav.incomeexpense"></span></a></li>
          <li><a routerLink="/transactions/transfers" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-exchange-alt"></i><span appLocalization="page.nav.transfers"></span></a></li>
        </ul>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a href="javascript: void 0" (click)="toggleAutomation()" class="nav-link">
          <em class="nav-icon fas fa-balance-scale"></em><span appLocalization="page.nav.automation"></span>
          <em class="fa chevron text-muted fa-chevron-left" [class.open]="displayAutomation"></em>
        </a>

        <ul class="sub-nav" [class.active]="displayAutomation">
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/schedule/transactions" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-calendar-check"></i><span appLocalization="page.nav.budget.recurring"></span></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/rules" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-random"></i><span appLocalization="page.nav.settings.rules"></span></a>
          </li>
        </ul>
      </li>

      <li class="nav-title" appLocalization="page.nav.settings"></li>
      <li class="nav-item" routerLinkActive="active">
        <a href="javascript: void 0" (click)="toggleAccounts()" class="nav-link">
          <em class="nav-icon fas fa-credit-card"></em><span appLocalization="page.nav.accounts"></span>
          <em class="fa chevron text-muted fa-chevron-left" [class.open]="displayAccounts"></em>
        </a>

        <ul class="sub-nav" [class.active]="displayAccounts">
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/accounts/own" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-money-bill"></i><span appLocalization="page.nav.accounts.accounts"></span></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/accounts/expense" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-shopping-cart"></i><span appLocalization="page.nav.accounts.creditor"></span></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/accounts/revenue" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-inbox"></i><span appLocalization="page.nav.accounts.debtor"></span></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/accounts/liability" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-money-bill"></i><span appLocalization="page.nav.accounts.liability"></span></a>
          </li>
        </ul>
      </li>

      <li class="nav-item" routerLinkActive="active" *ngIf="isAdmin">
        <a href="javascript: void 0" (click)="toggleOptions()" class="nav-link">
          <em class="nav-icon fas fa-sliders-h"></em><span appLocalization="page.nav.settings.options"></span>
          <em class="fa chevron text-muted fa-chevron-left" [class.open]="displayOptions"></em>
        </a>

        <ul class="sub-nav" [class.active]="displayOptions">
          <li class="nav-item">
            <a routerLink="/settings/currencies" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-dollar-sign"></i><span appLocalization="page.nav.settings.currencies"></span></a>
          </li>
          <li class="nav-item">
            <a routerLink="/settings" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-cog"></i><span appLocalization="page.header.application.settings"></span></a>
          </li>
        </ul>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/categories" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-chart-bar"></i><span appLocalization="page.nav.settings.categories"></span></a>
      </li>

      <li class="nav-item">
        <a routerLink="/import" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-file-import"></i><span appLocalization="page.nav.settings.import"></span></a>
      </li>

      <li class="nav-title d-sm-none" appLocalization="page.nav.profile"></li>
      <li class="nav-item d-sm-none">
        <a routerLink="/user/profile" class="nav-link" (click)="service.navigate()"><i class="nav-icon fas fa-user-secret"></i><span appLocalization="page.header.user.details"></span></a>
      </li>
      <li class="nav-item d-sm-none" routerLinkActive="active">
        <a href="javascript:void 0" (click)="authorizationService.logout()" class="nav-link"><i class="nav-icon fas fa-sign-out-alt"></i><span appLocalization="page.header.user.logout"></span></a>
      </li>
    </ul>
  </nav>
</div>
