<table class="table table-responsive-sm table-sm mt-4">
  <thead>
  <tr>
    <th class="d-print-none"></th>
    <th appLocalization="Contract.name">Name</th>
    <th appLocalization="Contract.company" class="d-none d-md-table-cell"></th>
    <th appLocalization="page.budget.contracts.daterange"></th>
    <th class="d-print-none"></th>
  </tr>
  </thead>
  <tr *ngFor="let contract of contracts">
    <td class="d-print-none">
      <a [routerLink]="['/contracts', contract.id, 'edit']"
         *ngIf="!contract.terminated"
         class="text-primary"
         appLocalization="common.action.edit" location="title"><i class="fas fa-edit"></i></a>
      <a href="javascript:void 0"
         appLocalization="common.action.delete" location="title"
         *ngIf="allowDelete(contract)"
         (click)="confirmDelete(contract)"
         class="text-danger"><i class="fas fa-trash-alt"></i></a>
    </td>
    <td>
      <a [routerLink]="['/contracts', contract.id]">{{contract.name}}</a>
      <div class="small text-muted">{{ contract.description }}</div>
    </td>
    <td>
      <a [routerLink]="'/accounts/' + contract.company.type + '/' + contract.company.id + '/transactions'">{{ contract.company.name }}</a>
    </td>
    <td>
      {{ contract.start | customDate }} - {{ contract.end | customDate }}
    </td>
    <td class="d-print-none">
      <a href="javascript:void 0"
         [appDownload]="fileService.download.bind(fileService, contract.fileToken)"
         [fileName]="contract.name + '.pdf'"
         *ngIf="contract.contractAvailable"
         class="text-primary" data-toggle="tooltip" data-placement="bottom"
         appLocalization="page.budget.contracts.action.downloadContract" location="title"><i class="fas fa-download"></i></a>
      <a href="javascript:void 0"
         (click)="uploadContract(contract)"
         *ngIf="!contract.contractAvailable && !contract.terminated"
         class="text-primary" data-toggle="tooltip" data-placement="bottom"
         appLocalization="page.budget.contracts.action.uploadContract" location="title"><i class="fas fa-upload"></i></a>
      <a href="javascript:void 0"
         (click)="warnBeforeExpire(contract)"
         *ngIf="!contract.notification"
         class="text-secondary ml-2" data-toggle="tooltip" data-placement="bottom"
         appLocalization="page.title.budget.contracts.warn" location="title"><i class="fas fa-flag"></i></a>
    </td>
  </tr>
</table>
