@import "../../shared/overview-table";

.table {
  thead > tr {
    th:first-child {
      width: 50px;
    }

    th:nth-child(3) {
      width: 150px;
    }

    th:nth-last-child(2) {
      width: 180px;
    }

    th:last-child {
      width: 75px;
    }
  }
}
