<div class="modal-header">
  <h4 class="modal-title" id="modal-title" appLocalization="page.user.profile.action.twofactor.enable"></h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <app-error-message></app-error-message>
  <div class="row">
    <div class="col-sm-8" appLocalization="page.user.profile.twofactor.explained"></div>
    <div class="col-sm-4">
      <img [src]="buildQRCode()" class="img-fluid mt-1" style="margin-left: -1.5em"/>
    </div>
  </div>

  <form ngForm autocomplete="off" #verifyForm="ngForm">
    <div class="form-group row mt-5">
        <label for="verificationCode" class="col-sm-6 col-form-label font-weight-bold" appLocalization="UserAccount.twofactor.secret"></label>
        <div class="col-sm-5 input-group">
          <app-input-field control="UserAccount">
            <input type="text" class="form-control" id="verificationCode" name="verificationCode" min="1" [(ngModel)]="verificationCode" required minlength="4" maxlength="6">
          </app-input-field>
        </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary"
          (click)="dismiss()"
          [disabled]="processing"
          appLocalization="common.action.cancel"></button>
  <button type="button" class="btn btn-success"
          (click)="verify()"
          [disabled]="processing || verifyForm.invalid"
          appLocalization="common.action.confirm"></button>
</div>
