<div class="modal-header">
  <h4 class="modal-title" id="modal-title" appLocalization="page.settings.import.config"></h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true" class="fa fa-times"></span>
  </button>
</div>
<form novalidate autocomplete="off" enctype="multipart/form-data" #configImport="ngForm">
  <div class="modal-body" *ngIf="!processing">
    <app-error-message></app-error-message>
    <div class="alert alert-light" appLocalization="page.settings.import.config.explain">
      info text
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="importFile" name="importFile" required (change)="handleFileSelect($event.target.files)">
          <label class="custom-file-label" for="importFile" appLocalization="common.file.select">Choose file...</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body" *ngIf="processing">
    <app-spinner></app-spinner>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary"
            (click)="modal.dismiss('cancel click')"
            [disabled]="processing"
            appLocalization="common.action.cancel"></button>
    <button type="button" class="btn btn-success"
            (click)="process()"
            [disabled]="!fileToUpload || processing"
            appLocalization="common.action.save"></button>
  </div>
</form>
