<div class="modal-header">
  <h4 class="modal-title" id="modal-title" appLocalization="page.header.user.password"></h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="dismiss()">
    <span aria-hidden="true" class="fa fa-times"></span>
  </button>
</div>

<div class="modal-body">
  <app-error-message></app-error-message>

  <div appLocalization="page.user.password.change.explain" class="alert alert-light"></div>

  <form #form="ngForm" autocomplete="off">
    <div class="form-group row">
      <label for="password" class="col-sm-4 col-form-label" appLocalization="UserAccount.password"></label>
      <div class="col-sm-8">
        <app-input-field control="UserAccount">
          <input #validator="password" password-input [(ngModel)]="password"
                 [validators]="[Criteria.at_least_six_chars, Criteria.at_least_one_lower_case_char, Criteria.at_least_one_upper_case_char, Criteria.at_least_one_digit_char]"
                 name="password" id="password" class="form-control" required/>
        </app-input-field>

        <div class="card mt-1 shadow">
          <div class="card-body text-muted">
            <div *ngFor="let result of validator.validated" class="ml-2">
              <i class="fa mr-1" [className]="result.style"></i>
              <span [appLocalization]="'Account.password.' + result.validator"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary"
          (click)="dismiss()"
          [disabled]="processing"
          appLocalization="common.action.cancel"></button>
  <button type="button" class="btn btn-success"
          [disabled]="form.invalid || processing"
          (click)="process()"
          appLocalization="common.action.save"></button>
</div>
