<ol class="breadcrumb" *ngIf="breadcrumbs && breadcrumbs.length">
  <li *ngFor="let breadcrumb of breadcrumbs; last as isLast" class="breadcrumb-item">
    <a *ngIf="breadcrumb.hasUrl()"
       routerLink="{{ breadcrumb.getUrl() }}"
       [class.active]="isLast">
      <span *ngIf="!breadcrumb.hasTextResolver()" [appLocalization]="breadcrumb.getTextKey()"></span>
      <span *ngIf="breadcrumb.hasTextResolver()">{{ breadcrumb.resolve }}</span>
    </a>
    <span *ngIf="!breadcrumb.hasUrl()"
          [class.active]="isLast">
      <span *ngIf="!breadcrumb.hasTextResolver()" [appLocalization]="breadcrumb.getTextKey()"></span>
      <span *ngIf="breadcrumb.hasTextResolver()">{{ breadcrumb.resolve }}</span>
    </span>
  </li>

  <li quick-navigation class="breadcrumb-menu"></li>
</ol>
