name: Branch Build
on:
  push:
    branches-ignore:
      - master

permissions:
  packages: write
  actions: read
  checks: write

jobs:
  check-software:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v6
     - name: Configure Java version
       uses: actions/setup-java@v5
       with:
         java-version: '25'
         distribution: 'temurin'
         architecture: x64
     - name: Prepare gradle installation
       uses: gradle/actions/setup-gradle@v5
     - name: Build the application
       run: ./gradlew classes -q
     - name: Verify the software
       run: ./gradlew check -x classes -q

     - name: Upload test results
       uses: actions/upload-artifact@v6
       with:
         name: test-artifact
         path: |
           **/build/test-results/**
     - name: Test Report
       uses: dorny/test-reporter@v2
       if: success() || failure()
       with:
         artifact: test-artifact
         name: Junit Test
         path: ./**/TEST-*.xml
         reporter: java-junit
         list-suites: 'failed'
         list-tests: 'failed'
