name: Release build

on:
  release:
    types: [published]

permissions:
  packages: write
  actions: read
  checks: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
# Set up the build environment
      - uses: actions/checkout@v6
      - name: Configure Java version
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
          architecture: x64
      - name: Prepare gradle installation
        uses: gradle/actions/setup-gradle@v5
# Build the software
      - name: Build the classes
        run: ./gradlew classes -q
# Publish the JAR file
      - name: Publish artifacts
        run: |
          echo "Github ref: ${GITHUB_REF}"
          NEW_VERSION=$(echo "${GITHUB_REF}" | cut -d "/" -f3)
          echo "New version: ${NEW_VERSION}"
          echo "Github username: ${GITHUB_ACTOR}"
          ./gradlew jar -x classes -Pversion=${NEW_VERSION}
          ./gradlew -Pversion=${NEW_VERSION} publish -x jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

