name: Release build

on:
  release:
    types: [published]

permissions:
  packages: write
  actions: read
  checks: write

jobs:
  build:
    uses: ./.github/workflows/component-build.yml
  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
      - name: Configure Java version
        uses: actions/setup-java@v5
        with:
          java-version: '24'
          distribution: 'temurin'
          architecture: x64
      - name: Download build artifact
        uses: actions/download-artifact@v6
        with:
          name: build-artifact
      - name: Publish artifacts
        run: |
          echo "Github ref: ${GITHUB_REF}"
          NEW_VERSION=$(echo "${GITHUB_REF}" | cut -d "/" -f3)
          echo "New version: ${NEW_VERSION}"
          echo "Github username: ${GITHUB_ACTOR}"
          ./gradlew -Pversion=${NEW_VERSION} publish -x check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

